html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

@media (max-width: 432px) {
  html {
    font-size: 14px;
  }
}

@media (min-width: 720px) and (max-width: 959px) {
  html {
    font-size: 14px;
  }
}

@media (min-width: 960px) and (max-width: 1279px) {
  html {
    font-size: 16px;
  }
}

@media (min-width: 1280px) and (max-width: 2056px) {
  html {
    font-size: 16px;
  }
}

@media (min-width: 2057px) {
  html {
    font-size: 16px;
  }
}

html,
body {
  font-family: "Pretendard", sans-serif;
  font-size: 0.875rem;
  line-height: 1.625;
  background: #fff;
  color: #333;
  overflow: hidden;
}

body {
  width: 100%;
  height: 100vh;

  display: flex;
  flex-direction: column;

  justify-content: stretch;
  align-items: center;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

::-moz-selection {
}

::selection {
}

header {
  position: fixed;
  top: 1.5rem;
}

header .logo img {
  width: 100px;
}

figure {
}

figure img {
  margin-top: 25vh;
  width: 50vw;
}

@media (min-width: 720px) {
  body {
    justify-content: center;
  }

  header .logo img {
    width: 125px;
  }

  figure img {
    margin-top: 20rem;
    width: 300px;
  }
}

footer {
  margin-top: 7.5rem;
  text-align: center;

  margin-bottom: 1rem;
}

footer.safe-bottom {
  padding-bottom: env(safe-area-inset-bottom);
}
